In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv(r"C:\Users\Siddhant\Downloads\merged_all_years.csv")

In [3]:
df2 = pd.read_csv(r"E:\IIT Chicago\Sem 4\Data Science Practicum - CSP-572\Datasets\Odometer Data\mpg_model.csv")

In [4]:
df1.head()

,vin,zipcode,odometer,test_date,make,model,my,purchase_date
0,WBAEV33452KL68783,606551055.0,125000,6/1/2020,BMW,3 Series,2002,5/1/2021
1,1GBFG15R6Y1100200,606321626.0,206000,6/1/2020,CHEV,Express Cargo,2000,5/21/2017
2,1GCDT136548185796,605011310.0,109000,6/1/2020,CHEV,Colorado,2004,6/18/2013
3,2GKALMEK0C6364495,604534400.0,80000,6/1/2020,GMC,Terrain,2012,4/26/2018
4,1HGCG1652YA094701,604591106.0,167000,6/1/2020,HOND,Accord,2000,7/19/2014

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8345437 entries, 0 to 8345436
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   vin            object
 1   zipcode        float64
 2   odometer       int64
 3   test_date      object
 4   make           object
 5   model          object
 6   my             int64
 7   purchase_date  object
dtypes: float64(1), int64(2), object(5)
memory usage: 509.4+ MB

In [8]:
df2 = df2.rename(columns={'Model Year': 'my'})

In [10]:
df2 = df2.rename(columns={'Model': 'model'})

In [11]:
df2.head(50)

       model    my Combination MPG
0             1993              19
1             1995              11
2             1996              23
3             1997              23
4             1998              15
5             1999              20
6             2000              19
7             2001              22
8             2002              23
9             2003              15
10            2004              21
11            2005              21
12            2006              21
13            2007              10
14            2008              25
15            2009              13
16            2010              18
17            2011              22
18            2012              15
19            2013              20
20            2014              27
21            2015              23
22            2016              21
23            2017              23
24            2018              28
25            2019              23
26            2020              52
27            2021              31
28            2022              24
29            2023              19
30            2024              18
31            2025              28
32  1 Series  1993   No data found
33  1 Series  1995   No data found
34  1 Series  1996   No data found
35  1 Series  1997   No data found
36  1 Series  1998   No data found
37  1 Series  1999   No data found
38  1 Series  2000   No data found
39  1 Series  2001   No data found
40  1 Series  2002   No data found
41  1 Series  2003   No data found
42  1 Series  2004   No data found
43  1 Series  2005   No data found
44  1 Series  2006   No data found
45  1 Series  2007   No data found
46  1 Series  2008              21
47  1 Series  2009              21
48  1 Series  2010              22
49  1 Series  2011              22

In [13]:
# Merge on 'model' and 'my'
df3 = df1.merge(df2, on=['model', 'my'], how='left')

In [14]:
df3.head()

,vin,zipcode,odometer,test_date,make,model,my,purchase_date,Combination MPG
0,WBAEV33452KL68783,606551055.0,125000,6/1/2020,BMW,3 Series,2002,5/1/2021,21
1,1GBFG15R6Y1100200,606321626.0,206000,6/1/2020,CHEV,Express Cargo,2000,5/21/2017,No data found
2,1GCDT136548185796,605011310.0,109000,6/1/2020,CHEV,Colorado,2004,6/18/2013,18
3,2GKALMEK0C6364495,604534400.0,80000,6/1/2020,GMC,Terrain,2012,4/26/2018,20
4,1HGCG1652YA094701,604591106.0,167000,6/1/2020,HOND,Accord,2000,7/19/2014,23

# Data Validation

In [19]:
def filter_data(model_name, my_value):
    """Returns rows matching the given model_api and my values."""
    return df3[(df3["model"] == model_name) & (df3["my"] == my_value)]

In [27]:
model_name_input = "3 Series"  # Replace with actual model_api value
my_input = 2007  # Replace with actual my value

filtered_rows = filter_data(model_name_input, my_input)

In [28]:
filtered_rows.head(20)

,vin,zipcode,odometer,test_date,make,model,my,purchase_date,Combination MPG
17569,WBAWB735X7P034904,606294017.0,89000,6/2/2020,BMW,3 Series,2007,4/5/2019,No data found
18059,WBAVA37507NL14148,600961466.0,131000,6/2/2020,BMW,3 Series,2007,8/10/2021,No data found
24511,WBAVA37577NL16267,604903189.0,103000,6/2/2020,BMW,3 Series,2007,7/7/2021,No data found
43672,WBAVC73517KP30072,600042103.0,135000,6/4/2020,BMW,3 Series,2007,6/24/2019,No data found
47228,WBAVC73547KP30373,601023968.0,44000,6/4/2020,BMW,3 Series,2007,6/16/2019,No data found
60795,WBAVC93507KX61356,605061336.0,78000,6/5/2020,BMW,3 Series,2007,2/23/2019,No data found
62432,WBAVA37507NE26144,601771653.0,72000,6/6/2020,BMW,3 Series,2007,10/27/2018,No data found
88932,WBAVA33587KX80062,607072722.0,151000,6/9/2020,BMW,3 Series,2007,5/20/2019,No data found
91101,WBAVA33587KX80062,607072722.0,151000,6/9/2020,BMW,3 Series,2007,5/20/2019,No data found
91132,WBAWL735X7PX48027,601921319.0,115000,6/9/2020,BMW,3 Series,2007,9/28/2013,No data found
92095,WBAVC935X7KX58433,605275141.0,82000,6/9/2020,BMW,3 Series,2007,4/27/2019,No data found
92115,WBAVA33517FV66068,600252334.0,48000,6/9/2020,BMW,3 Series,2007,5/14/2019,No data found
94180,WBAWC33567PD06079,600741227.0,140000,6/9/2020,BMW,3 Series,2007,5/24/2019,No data found
112090,WBAWB73547P022098,600931318.0,72000,6/11/2020,BMW,3 Series,2007,6/1/2019,No data found
115729,WBAVA37507NE26144,601771653.0,72000,6/11/2020,BMW,3 Series,2007,10/27/2018,No data found
117245,WBAVA33547KX79149,605053857.0,106000,6/11/2020,BMW,3 Series,2007,6/1/2019,No data found
118562,WBAVC93527KX57051,604392715.0,165000,6/12/2020,BMW,3 Series,2007,5/4/2019,No data found
119642,WBAWL13547PX13996,601232552.0,19000,6/12/2020,BMW,3 Series,2007,4/1/2016,No data found
121213,WBAVC93507KX58439,606432505.0,157000,6/12/2020,BMW,3 Series,2007,12/16/2015,No data found
123866,WBAVA37567NE26388,600352347.0,144000,6/12/2020,BMW,3 Series,2007,1/8/2010,No data found

In [29]:
models_with_no_data = df3.groupby('model')['Combination MPG'].apply(lambda x: all(x == 'No data found'))

count_models = models_with_no_data.sum()
print(count_models)

229

In [31]:
count_no_data = (df3['Combination MPG'] == 'No data found').sum()

print(count_no_data)

697958

In [32]:
df3.shape

(8362886, 9)

In [33]:
df3.to_csv('E:\IIT Chicago\Sem 4\Data Science Practicum - CSP-572\Datasets\Odometer Data\complete_data_with_mpg.csv', index=False)